.button {
  background: var(--light-background-secondary);
  border: 1px solid var(--light-border-color);
  border-radius: 8px;
  color: var(--light-color-secondary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 18px;
  font-weight: bold;

  .dark-theme & {
    background: var(--dark-background-secondary);
    color: var(--dark-color-secondary);
    border-color: var(--dark-border-color);
  }

  /* sizes */

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 200px;
    padding: 14px 24px;
  }
}

.button:hover {
  transition: color,border-color,background-color 0.2s linear;
  color: var(--light-background);
  background: var(--light-color-secondary);

  .dark-theme & {
    color: var(--dark-background);
    background: var(--dark-color-secondary);
    border-color: var(--dark-border-color);
  }
}

.read-more {
  float: right !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.code-toolbar {
  margin-bottom: 20px;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    background: var(--light-background-secondary);
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;

    .dark-theme & {
      background: var(--dark-background-secondary);
      color: inherit;
    }
  }
}
