.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media (--tablet) {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);

    .dark-theme & {
      border-color: var(--dark-border-color);
    }
  }

  &-meta {
    font-size: 1rem;
    margin-bottom: 10px;
    overflow:auto;
    color: rgba(0, 0, 0, 0.5);
    
    .dark-theme & {
      color: rgba(255, 255, 255, 0.5);
    }

    @media (--phone) {
      font-size: .85rem;
    }
  }

  &-title {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 20px;
    color: var(--light-color-secondary);

      .dark-theme & {
        color: var(--dark-color-secondary);
      }

    @media (--phone) {
      font-size: 1.5rem;
    }

    a {
      text-decoration: none;
    }
  }

  &-tags {
    float: right !important;
    box-sizing: border-box;
  }

  &-tag a {
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    text-decoration: none;

    .dark-theme & {
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  &-tag a:hover {
    transition: color,border-color,background-color 0.2s linear;
    color: var(--light-background-secondary);
    background-color: var(--light-color-secondary);

    .dark-theme & {
      color: var(--dark-background-secondary);
      background-color: var(--dark-color-secondary);
    }
  }

  &-date {
    box-sizing: border-box;
    float: left !important;
    font-size: 1.1rem;
  }

  &-content {
    margin-top: 30px;
    text-align: justify;
    text-justify: inter-word;
  }

  &-content p {
    text-indent: 2.5em;
  }

  &-content li {
    text-indent: 0em;
  }

  &-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .15);

    @media (--tablet) {
      margin: 20px 0;
      width: 100%;
    }
  }
}

.post--regulation {
  h1 {
    justify-content: center;
  }

  h2 {
    justify-content: center;
    margin-bottom: 10px;

    &+ h2 {
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }
}
