<footer class="footer">
  <div class="contact">
    <ul class="contact-buttons list-inline">
    {{ range .Site.Params.social }}
      <li>
        <a href="{{ .url }}" class="contact-button">
          <i class="{{ .icon }}"></i>
        </a>
      </li>
    {{ end }}
    </ul>
  </div>
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
